Value Filldown hostname (\S+)
Value Required VLAN (\S+)
Value IP (\d+\.\d+\.\d+\.\d+)
Value MAC (.*)






Start
  ^hostname\s+${hostname}.*
  ^${VLAN}.* 
  ^\s+Virtual IP address is ${IP}.*
  ^\s+Virtual MAC address is ${MAC}.* -> Record
